<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation to Participate in an Exam</title>
</head>
<body style='text:center;'>
    <h1>Invitation to Participate in an Exam</h1>
    Dear {{ invited_user.username }}
    you have been invited by {{ invited_by.username }} to participate in the following exam:
    <strong>{{ exam.title }}</strong>
    To accept the invitation, please click the following link:
    <a href="https://www.w3schools.com/">W3 Invitation</a>
    If you have any questions, feel free to contact us.
    Best regards,<br>Your Team</p>
</body>
</html>
